@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

.active {
    color: rgba(253, 98, 98, 1) !important;
}

.owl-stage-outer {
    height: 529px;
}


.owl-item {
    transition: width 0.3s ease;
    /* Áp dụng transition cho thuộc tính width với thời gian 0.3s và chế độ ease */
}

.owl-item:hover {
    width: 360px !important;
}

// .swiper-button-next:after {
//     content: "" !important;
//     background-image: url('./../../assets/images/home/icon-arrow-right.png') !important;
// }