.main-page {
    width: 100%;

    &__sectionOne {
        max-height: 820px;
        width: 100%;
        position: relative;
        z-index: 1;

        video {
            height: 800px;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            opacity: 1;
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 105px;
            color: #fff;
            width: 768px;
            transform: translateY(-50%);

            a {
                width: 140px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgb(253, 98, 98);
                color: #fff;
                background-color: rgb(253, 98, 98);
                text-decoration: none;
                outline: none;
                transition: all 0.2s linear;
                font-size: 16px;
                line-height: 22px;
                border-radius: 5px;

                &:hover {
                    background-color: transparent;
                    border-color: #fff;
                }
            }
        }
    }
}